.button {
    background: #101010;
    padding: 1.6rem;
    border: 1px solid #101010;
    color: white;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include bezier-transition(all, .3s, ease);
  }
  .button:hover {
      background-color:#e8e8e8;
      border: 1px solid #e8e8e8;
      text-decoration: none;
    }
  
  .button:disabled {
    opacity: .5;
    &:hover {
      cursor: not-allowed;   
       background: none;
    }
  }
  
  .button-link {
    @extend .button;
    background: none;
    color: black;
    border: none;
  
    &:hover {
      background: none;
      border: none;
    }
  }
  
  .button-muted {
    @extend .button;
    background: #e1e1e1;
    color: lighten(#4a4a4a, 20%);
    border: 1px solid #e1e1e1;
    &:hover {
      background: #e1e1e1-focus;
      border: 1px solid #e1e1e1-focus;
    }
  }
  
  .button-block {
    display: block;
    width: 100%;
  }
  
  .button-border {
    background: transparent;
    border: 1px solid #101010;
    color: #101010;
  
    &:hover {
      background: #e1e1e1;
      border: 1px solid #101010;
    }
  }
  
  .button-border-gray {
    border: 1px solid #e1e1e1;
    color: #4a4a4a;
  
    &:hover {
      border: 1px solid #e1e1e1;
      background: #e1e1e1;
    }
  }
  
  .button-small {
    font-size: 1.2rem;
    padding: 1.2rem 1.6rem;
  }