.icon-caret {
    width: 10px;
    height: 10px;
    position: relative;
    margin-left: 1.2rem;
    transition: all .2s ease;
  }
  .icon-caret::before {
    content: '';
      position: absolute;
      top: 5px;
      width: 7px;
      height: 2px;
      background: #101010;
      left: 0;
      transform: rotate(45deg);
  }
  .icon-caret::after {
    content: '';
      position: absolute;
      top: 5px;
      width: 7px;
      height: 2px;
      background: #101010;
      transform: rotate(-45deg);
      right: 0px;
  }

  .icon-magnify {
    width: 12px;
    height: 12px;
    border: 2px solid #707070;
    border-radius: 50%;
    position: relative;
    margin-left: 1.2rem;
    opacity: .5;
  }
  .icon-magnify::after {
    content: '';
    position: absolute;
    right: -6px;
    bottom: -3px;
    width: 7px;
    height: 2px;
    transform: rotate(45deg);
    background: #707070;
  }