.product-list {
    display: grid;
    grid-template-columns: repeat(6, 180px);
    grid-gap: 1.2rem;
    justify-content: center;
    @media (max-width: 45rem) {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }
  
  .product-list-header {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .product-list-header-title {
    text-align: center;
  }
  
  .product-list-header-actions {
    display: flex;
    align-items: center;
    justify-content: center;
  
    @media (max-width: 45rem) {
      display: none;
    }
  }
  
  .product-list-search {
    display: flex;
    align-items: center;
  }
  
  .product-list-title {
    flex-grow: 1;
  }
  
  .product-list-wrapper {
    flex-grow: 1;
  }
  
  .product-card {
    background: white;
    height: 230px;
    border: 1px solid #e1e1e1;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .05);
    overflow: hidden;
    /* animation: slide-up .3s ease; */
    cursor: pointer;
    @media (max-width: 45rem) {
      height: 200px;
    }
  }
  
  .product-card:hover .product-card-content {
    transform: translateY(-10px);
  }
  
  .product-card:hover .product-card-button {
    bottom: 0;
  }
  
  .product-card:hover .product-card-img-wrapper {
    width: 80%;
    height: 80px;
  }
  
  .product-loading {
    animation: none;
  }
  
  .product-loading:hover {
    cursor: default;
  }
  
  .product-loading:hover .product-card-content {
    transform: none;
  }
  
  .product-loading:hover .product-card-img-wrapper {
    width: 90%;
    height: 100px;
  }
  
  .product-card-content {
    padding: 1.6rem;
    @include bezier-transition(transform);
  
    /* // @media (max-width: 45rem) { */
    /* //   transform: translateY(-25px); */
    /* // } */
  }
  
  .product-card-img-wrapper {
    width: 90%;
    height: 100px;
    margin: auto;
    position: relative;
    @include bezier-transition();
  
    @media (max-width: 45rem) {
      width: 80%;
      height: 80px;
    }
  }
  
  .product-card-price {
    color: #818181;
  }
  
  .product-card-name {
    width: 100%;
    height: 20px;
    margin: 0;
    /* // white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  
  .product-card-brand {
    margin-top: 0;
    font-size: 1.2rem;
  
    @media (max-width: 45rem) {
      margin-bottom: 0;
    }
  }
  
  .product-card-button {
    /* // text-transform: uppercase; */
    position: absolute;
    bottom: -100%;
    font-size: 1.2rem;
    @include bezier-transition();
  
    @media (max-width: 45rem) {
      bottom: 0;
      display: none;
    }
  }
  
  .product-card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .product-list-empty-filters {
    margin-top: 5.6rem;
  }
  
  .product-applied-filters {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
    @media (max-width: 45rem) {
      display: block;
    }
  }
  
  // PRODUCT MODAL -------------------------------------------------
  
  .product-modal {
    display: flex;
  
    @media (max-width: 45rem) {
      flex-direction: column;
    }
  }
  
  .product-modal-image-wrapper {
    width: 300px;
    height: 200px;
    position: relative;
  
    @media (max-width: 45rem) {
      width: 70%;
      height: 140px;
      margin: auto;
    }
  }
  
  .product-modal-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .product-modal-details {
    width: 300px;
    padding: 0 3.2rem;
  
    @media (max-width: 45rem) {
      width: 100%;
      padding: 0 1.6rem;
    }
  }
  
  .product-modal-action {
    display: flex;
    margin-top: 1.6rem;
  }
  
  // PRODUCT FORM --------------------
  
  .product-form {
    width: 100%;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.2rem;
  }
  
  .product-form-field {
    width: 100%;
  }
  
  .product-form-inputs {
    width: 75%;
    display: flex;
    flex-direction: column;
  }
  
  .product-form-file {
    width: 25%;
    margin-left: 3.2rem;
    display: flex;
    flex-direction: column;
  }
  
  .product-form-img-wrapper {
    width: 100%;
    height: 200px;
    position: relative;
  }
  
  .product-form-image-preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  // PRODUCT SEARCH ------------------
  // 
  
  .product-search {
    width: 100%;
    position: relative;
    background: #f8f8f8;
    z-index: map-get($z-index, 'search');
  }
  
  .product-search-header {
    width: 100%;
    height: 50px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 1.6rem;
    position: sticky;
    top: 0;
  }
  
  .product-search-body {
    padding: 1.2rem;
    overflow-y: scroll;
  }
  
  .product-search-input {
    width: 90%;
    border: none !important;
    color: white;
    flex-grow: 1;
    font-size: 1.5rem !important;
  
    &:focus {
      border: none !important;
    }
  }
  
  .product-search-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-left: 1.6rem;
  }
  
  .product-search-button {
    @extend .icon-magnify;
    opacity: 1 !important;
    margin-left: 0 !important;
    margin-right: 1.2rem;
  }
  
  .product-search-recent-header {
    width: 100%;
    display: flex;
  
    h5 { flex-grow: 1; }
    h5:last-child { text-align: right; }
  }
  
  .filter-toggle{
    position: relative;
  }
  .product-search-filter {
    position: relative;
    padding: 1.2rem 0;
  }
  
  .product-search-filter-sub {
    width: 100%;
    position: relative;
    background: white;
    padding: 1.2rem 1.6rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .07);
  }
  
  .product-search-recent {
    border-top: 1px solid #e1e1e1;
    margin-top: 1.2rem;
  }