/* BASE STYLING  */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Tajawal', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  background: #f8f8f8;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}   

p {
  color: #4a4a4a;
  font-weight: 300;
  line-height: 2rem;
}

strong { 
  font-weight: bold;
}

span {
  color: #4a4a4a;
  font-size: 1.2rem;
  position: relative;
}

h1,
h2,
h3, 
h4, 
h5,
h6 {
  font-family: 'Tajawal', Helvetica, Arial, sans-serif;
  color: #1a1a1a;
}

 body::-webkit-scrollbar {
   width: 8px;
 }
 
 body::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
 }
 
 body::-webkit-scrollbar-thumb {
   background-color: #1a1a1a;
   outline: 1px solid lighten(#1a1a1a, 10%);
 }

#app {
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 12rem 5.6rem;
  display: flex;
  animation: fadeIn .5s ease;
  @media (max-width: 45rem) {
    padding: 12rem 1.6rem;
    flex-direction: column;
  }
}

.content-admin {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  position: relative;
  padding-top: 5.6rem;
  overflow: hidden;
  display: flex;
}

.content-admin-wrapper {
  overflow-y: scroll;
  flex-grow: 1;
  padding: 1.6rem 3.2rem;
  animation: fadeIn .5s ease;
}
