.react-tel-input{
    border: 1px solid #e1e1e1!important;
    font-size: 1.2rem!important;
    padding: 1.2rem 1.6rem!important;
    background: transparent;
    font-weight: 700;
    box-shadow: 0;
    outline: 0;
}
.altaf{
    width: 100%;
    background: #f2f2f2;
    /* padding-left: 4.8rem; */
    overflow: visible;
}

.input {
    border: 1px solid #e1e1e1 !important;
    background: transparent;
    font-size: 1.2rem !important;
    padding: 1.2rem 1.6rem !important;
    font-weight: bold;
    box-shadow: 0;
    outline: 0;
}
.input::focus {
    outline: none;
    border: 1px solid #c5c5c5 !important;
}

.searchbar {
    width: 400px;
    display: flex;
    position: relative;
    background: #f2f2f2;
    z-index: 1;
}
  .search-input {
    padding-left: 4.8rem !important;
  }
  .searchbar-input {
    width: 100%;
    background: #f2f2f2;
  }
  .searchbar-recent {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    display: none;
  }
  
  .searchbar-recent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 94%;
      height: 1px;
      background: $border-color;
    }
  }
  
  .searchbar-recent-clear:hover {
    cursor: pointer;
  }
  
  .searchbar-recent-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem;
    padding-right: 0;
  
    &:hover {
      background: $border-color;
      cursor: pointer;
    }
  }
  
  .searchbar-recent-keyword {
    flex-grow: 1;
    padding: $s-size 0;
  }
  
  .searchbar-recent-button {
    font-weight: bold;
    padding: $s-size;
  }
  
  .searchbar-icon {
    @extend .icon-magnify;
    position: absolute;
    left: 1.6rem;
    top: -3px;
    bottom: 0;
    margin: auto;
    opacity: 1;
    border: 2px solid #707070;
  }
  .searchbar-icon::after {
    background: #707070;
  }
  